<div class="name">
  <span class="first-name">{{data.firstName}}</span>
  <span class="last-name">{{data.lastName}}</span>
</div>
{{#if showEditButton}}
  <div class="click-area" {{action "tagClicked"}}></div>
  <div class="buttons">
    <button class="btn btn-light edit-button mr-2" {{action "editButtonClicked"}}>Edit</button>
    <button class="btn btn-light delete-button" {{action "deleteButtonClicked"}}>Delete</button>
  </div>
{{/if}}